body {
  max-width: 800px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}



.hint {
    border: 1px solid gray;
    padding: 4px;
    color: white;
  }
  .hint:hover {
    color: black;
  }

